.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black;
  background-color: black;
  padding: 15px;
  border-radius: 100%;
}

.carousel-control-prev {
  width: 40px; /* change width */
  height: 40px; /* change height */
  margin: auto;
}

.carousel-control-next {
  width: 40px; /* change width */
  height: 40px; /* change height */
  margin: auto;
}

.card {
  font-family: "Inter";
  font-style: normal;
  box-shadow: 1px 1px 1px #d6d6d6;
  text-align: center;
  font-weight: 700;
}

.card-title {
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.8);
}

.job-location {
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.28);
}

.job-experience {
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.5);
}

.card .badge {
  position:absolute;
  top:-5px;
  right:-10px;
  padding:7px;
  color:white;
  box-shadow: 1px 1px 1px #d6d6d6;
  transform: rotate(-20deg);
}
